<app-newnavbar></app-newnavbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h2>List Of Friends</h2>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of data" >
                    <div class="card" style="width: 18rem; height: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Name:{{i.name}}</h5>
                          <p class="card-text">Friend Name:{{i.friendName}}</p>
                          <p class="card-text">Friend Nickname:{{i.friendNickName}}</p>
                          <p class="card-text">Friend Description:{{i.DescribeYourFriend}}</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
