<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h2>Contact Us</h2>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card" style="height:12rem;">
                        <div class="card-body" >
                          <h5 class="card-title">NeST DIGITAL CORPORATE OFFICE</h5>
                          <p class="card-text">Plot No. 2, Cochin Special Economic Zone</p>
                          <p class="card-text">(CSEZ), Kakkanad, Cochin - 682 037, India</p>
                          <p class="card-text">Phone: +91-484-661 4300</p>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card" style="height:12rem;">
                        <div class="card-body">
                          <h5 class="card-title">FOR BUSINESS RELATED ENQUIRIES</h5>
                          <p class="card-text">Email: sales.nestdigital@nestgroup.net</p>
                          <p class="card-text">Ph: +91-484-6701000, +91484-4203333</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
