<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h2>Employee Registraton</h2>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Employee ID</label>
                    <input name="empid" [(ngModel)]="empid" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">First Name</label>
                    <input name="firstname" [(ngModel)]="firstname" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Last Name</label>
                    <input name="lastname" [(ngModel)]="lastname" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">House No</label>
                    <input name="houseno" [(ngModel)]="houseno" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">House Name</label>
                    <input name="housename" [(ngModel)]="housename" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Street Name</label>
                    <input name="streetname" [(ngModel)]="streetname" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Pincode</label>
                    <input name="pincode" [(ngModel)]="pincode" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">District</label>
                    <select name="district" [(ngModel)]="district" name="" id="" class="form-select">
                        <option value="Trivandrum">Trivandrum</option>
                        <option value="Kollam">Kollam</option>
                        <option value="Kottayam">Kottayam</option>
                        <option value="Idukki">Idukki</option>
                        <option value="Ernakulam">Ernakulam</option>
                        <option value="Kozhikode">Kozhikode</option>
                        <option value="Kasargode">Kasargode</option>
                        <option value="Kannur">Kannur</option>
                        <option value="Pathanamthitta">Pathanamthitta</option>
                        <option value="Alappuzha">Alappuzha</option>
                        <option value="Palakkad">Palakkad</option>
                        <option value="Malappuram">Malappuram</option>
                        <option value="Thrissur">Thrissur</option>
                        <option value="Wayanad">Wayanad</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">State</label>
                    <select name="state" [(ngModel)]="state" name="" id="" class="form-select">
                        <option value="Trivandrum">Kerala</option>
                        <option value="Kollam">Tamil Nadu</option>
                        <option value="Kottayam">Karnataka</option>
                        <option value="Idukki">Andhra Pradesh</option>
                        <option value="Ernakulam">Ernakulam</option>
                        <option value="Kozhikode">Kozhikode</option>
                        <option value="Kasargode">Kasargode</option>
                        <option value="Kannur">Kannur</option>
                        <option value="Pathanamthitta">Pathanamthitta</option>
                        <option value="Alappuzha">Alappuzha</option>
                        <option value="Palakkad">Palakkad</option>
                        <option value="Malappuram">Malappuram</option>
                        <option value="Thrissur">Thrissur</option>
                        <option value="Wayanad">Wayanad</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Country</label>
                    <select name="country" [(ngModel)]="country" name="" id="" class="form-select">
                        <option value="Trivandrum">Kerala</option>
                        <option value="Kollam">Tamil Nadu</option>
                        <option value="Kottayam">Karnataka</option>
                        <option value="Idukki">Andhra Pradesh</option>
                        <option value="Ernakulam">Ernakulam</option>
                        <option value="Kozhikode">Kozhikode</option>
                        <option value="Kasargode">Kasargode</option>
                        <option value="Kannur">Kannur</option>
                        <option value="Pathanamthitta">Pathanamthitta</option>
                        <option value="Alappuzha">Alappuzha</option>
                        <option value="Palakkad">Palakkad</option>
                        <option value="Malappuram">Malappuram</option>
                        <option value="Thrissur">Thrissur</option>
                        <option value="Wayanad">Wayanad</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Mobile Number</label>
                    <input name="mobile" [(ngModel)]="mobile" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Email ID</label>
                    <input name="email" [(ngModel)]="email" type="email" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Parent Name</label>
                    <input name="parentname" [(ngModel)]="parentname" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Gender</label>
                    <input name="gender" [(ngModel)]="gender" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Highest Degree</label>
                    <input name="highestdeg" [(ngModel)]="highestdeg" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Years of Experience</label>
                    <input name="yoexp" [(ngModel)]="yoexp" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Date of Joining</label>
                    <input name="doj" [(ngModel)]="doj" type="date" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Username</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Password</label>
                    <input name="password" [(ngModel)]="password" type="password" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Confirm Password</label>
                    <input name="confirmpassword" [(ngModel)]="confirmpassword" type="password" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readempreg()" class="btn btn-success">Register</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a href="/employeelogin">Employee Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

